[Unit]
Description=PinPoint First Boot Installer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pinpoint-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
